;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:app {:target :npm-module
        :output-dir "target/"
        :release
        {:entries [mini-program-cljs.core]
         :output-dir "target/release/"}}}}
